<section class="product-card">
  <div id={{id}}>
  <img src="/images/placeholder.png" alt="place-holder-img">
    <h3>{{{product_name}}}</h3>
    <p>{{{product_description}}}</p>
    <p>{{{product_price}}}</p>
    <p>Contact: <a href="mailto:{{email}}">{{{email}}}</a></p>
  </div>
  </section>
